# ===============================
# NODE / REACT
# ===============================
node_modules/
build/

# ===============================
# PYTHON / BACKEND
# ===============================
venv/
api/venv/
__pycache__/

# ===============================
# Editor / Sistema
# ===============================
.vscode/
.DS_Store

# ===============================
# ARQUIVOS DE AMBIENTE (SENHAS!)
# ===============================
.env
.env.*
!.env.example